<h2>Celebrity Details</h2>
<div>
    <h3>{{celebrity.name}}</h3>
</div>
<div>
<ul>

    {{#each celebrities.name}} 
    <li>Name: {{this.name}}</li>
    <li>Occupation: {{this.occupation}}</li>
    <li>Catch Phrase: {{this.catchPhrase}}</li>
    {{/each}}
</ul>
</div>

<div>
<form action="/movies/{{movie.id}}/delete" method="post">
<button type ="submit">Delete</button>
</form>

<form action="/movies/{{movie.id}}/edit" method="get">
<button type ="submit">Edit</button>
</form>
</div> 