<h2>Celebrity Details</h2>

<br>

<div>
    <h3>{{celebrity.name}}</h3>
    <p>Occupation: {{celebrity.occupation}}</p>
    <p>Catch Phrase: {{celebrity.catchPhrase}}</p>
</div>


 {{#if theUser}}
        <a class="edit" href="/celebrities/{{this.id}}/edit">Edit</a>
        
        <form action="/celebrities/{{this.id}}/delete" method="post">
        <button  class="delete" type="submit">Delete</button>
        </form>

{{/if}}
