    <h2>Celebrities</h2>

    {{#if theUser}}

    {{#each celebrities}}

   
    <br>
        
    <a href="/celebrities/{{this.id}}"><p>{{this.name}}</p></a>

    <a class="edit" href="/celebrities/{{this.id}}/edit">Edit</a>
    
    <br>
    
    <form action="/celebrities/{{this.id}}/delete" method="post">
        <button  class="delete" type="submit">Delete</button>
    </form>

    <br>

    {{/each}}

    {{else}} 

    {{#each celebrities}}
        <br>
        
       <a href="/celebrities/{{this.id}}"><p>{{this.name}}</p></a>
       
        <br>
        
    {{/each}}
    
    {{/if}} 



  
