<h2>Movie Details</h2>
<div>
    <h3>{{movie.title}}</h3>
    <p>Genre: {{movie.genre}}</p>
    <p>Plot: {{move.plot}}</p>
    <h4>Likes: {{likes}}</h4>
</div>
<div>
<ul>
    {{#each movie.cast}}
    <li>Name: {{this.name}}</li>
    <li>Occupation: {{this.occupation}}</li>
    <li>Catch Phrase: {{this.catchPhrase}}</li>
    {{/each}}
</ul>
</div>


 {{#if theUser}}
        <a class="edit" href="/movies/{{this.id}}/edit">Edit</a>
        
        <form action="/movies/{{this.id}}/delete" method="post">
        <button  class="delete" type="submit">Delete</button>
        </form>

{{/if}}
