<h2>Movie Details</h2>
<div>
    <h3>{{movie.title}}</h3>
    <p>Genre: {{movie.genre}}</p>
    <p>Plot: {{move.plot}}</p>
</div>
<div>
<ul>
    {{#each movie.cast}}
    <li>Name: {{this.name}}</li>
    <li>Occupation: {{this.occupation}}</li>
    <li>Catch Phrase: {{this.catchPhrase}}</li>
    {{/each}}
</ul>
</div>
<div>
<form action="/movies/{{movie.id}}/delete" method="post">
<button type ="submit">Submit</button>
</form>
</div>